<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <button class="btn btn-success btn-block" (click)="addOrderNavigate()">Add Order</button>

    </div>
    <div class="col-4">
      
        <button class="btn btn-success btn-block" (click)="importCsvNavigate()">
          Import orders
        </button>
      
    </div>
  </div>

  <div class="panel panel-default pt-2" *ngIf=" 0 < listOrders.length">
    <h3 class="panel-heading"> Orders</h3>
    <div class="panel-body">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Date required</th>
            <th scope="col">Description</th>
            <th scope="col">No. of components</th>
            <th scope="col">Date created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of listOrders" (click)="orderDetails(order)" style="cursor: pointer">
            <th> {{order.number}}</th>
            <td> {{order.required}}</td>
            <td>{{order.description}}</td>
            <td>{{order.components.length}}</td>
            <td>{{order.created}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
